<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
        <link rel="stylesheet" href="/css/main.css">
        <link rel="stylesheet" href="/css/destIndex.css">
    <title></title>
  </head>
  <body>
    <nav>
        <%include ../partials/nav.ejs%>
    </nav>

    <h1>Travelers</h1>

    <div class="container">

      <% for(i=0; i < travelers.length; i++){%>
        <div class="travList"
        <span id="user"> <%=travelers[i].aboutUser%> </span><br/>
        <a href="/travelers/<%=travelers[i].id%>">
          <img class="imgCat" src="<%=travelers[i].profileImg%>" alt=""/>
        </a>
        <span id="user"><%=travelers[i].username%></span><br/>

        <%if(currentUser){%>
            <form class="" action="/travelers/showAll/<%=travelers[i].id%>?_method=DELETE" method="POST">
               <input type="submit" name="" value="Delete User">
            </form>
          <%}%>
        </div>
      <%}%>
</div>


    <footer>
      <% include ../partials/footer.ejs%>
    </footer>
  </body>
</html>
