<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/css/destIndex.css">
    <link rel="stylesheet" href="/css/main.css">
    <title></title>
  </head>
  <body>
   <nav>
       <% include ../partials/nav.ejs %>
   </nav>
<div value="background">
    <h1>DESTINATIONS</h1>
    <a class="post" href="/destinations/new">Share Your Journey!</a>

    <div class="container">
        <%for(i=0; i < destinations.length; i++){%>
          <div class="destList">
              <a href="destinations/<%=destinations[i].id%>"><img class="imgCat" src="<%=destinations[i].img1%>" alt=""></a>
              <h4><a href="/destinations/<%=destinations[i].id%>"><span id ="city" ><%=destinations[i].city%></span></a>, <span id="country"><%=destinations[i].country%></span></h4>
          </div>
        <%}%>
    </div>
</div>
      <footer>
        <% include ../partials/footer.ejs%>
      </footer>

  </body>
</html>
