<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <% include /partials/nav.ejs %>

    <h1>DESTINATIONS</h1>

    <%for(i=0; i < destinations.length; i++){%>
          <a href="/destinations/<%=destinations[i].id%>">  <%=destinations[i].city%></a>, <%=destinations[i].country%>
      <li>
        <a href="destinations/<%=destinations[i].id%>"><img src="<%=destinations[i].img1%>" alt=""></a>
      </li>
    <%}%>
  </body>
</html>
