<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
      <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/destIndex.css">

    <title></title>
  </head>
  <body>
   <nav>
       <% include ../partials/nav.ejs %>
   </nav>
<div value="background">
    <h1>DESTINATIONS</h1>
    
    <%if(currentUser){%>
        <p class="post"><a class="post" href="/destinations/new"> Click Here</a> to Share Your Journey!</p>
     <%}%>

    <div class="container">
        <%for(i=0; i < destinations.length; i++){%>
          <div class="destList">
              <a href="destinations/<%=destinations[i].id%>"><img class="imgCat" src="<%=destinations[i].img1%>" alt=""></a>
              <h4><a href="/destinations/<%=destinations[i].id%>"><span id ="city" ><%=destinations[i].city%></span></a>, <span id="country"><%=destinations[i].country%></span></h4>
          </div>
        <%}%>

    </div>

    <footer>
      <% include ../partials/footer.ejs%>
    </footer>
</div>

  </body>
</html>
