<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/show.css">
    <title></title>
  </head>
  <body>
    <nav>
        <%include ../partials/nav.ejs%>
    </nav>



  <div class="container">
   <h1>Destination: <%= destination.city%>, <%= destination.country%> <br/></h2>

<!-- Image Section -->
         <div class="imgFrame">
            <div class="imgPost" style="background-image:url('<%=destination.img1%>');"></div>
            <div class="imgPost" style="background-image:url('<%=destination.img2%>');"></div>
            <div class="imgPost" style="background-image:url('<%=destination.img3%>');"></div>


            <!-- <div class="imgPost"<img src="<%=destination.img2%>" alt="" /> </div>
            <div class="imgPost"<img src="<%=destination.img3%>" alt="" ></div> -->

          </div>

          <!-- <li>   </li>
          <li>   </li>
          <li>    </li> -->


<!-- Content Section -->
        <section class="content">
           <a href="/destinations/<%=id%>/edit">Edit Post</a>

            <h4>Tags: <%= destination.tags%></h4>
            <h2>Destination: <%= destination.city%>

            <!-- <h3>Adventures</h3> -->
            <div class="adv">
            <p>  <span>Adventures:</span> <%= destination.description%></p>
            </div><br/>


            <%if(currentUser){%>
                  <form class="" action="/destinations/<%=id%>?_method=DELETE" method="POST">
                    <input class="btn" type="submit" name="" value="DELETE POST">
                </form>
          <% } %>

        </section>


    </div>
<!-- User Options if Logged In  -->




<!-- Footer -->
  <footer>
      <% include ../partials/footer.ejs%>
  </footer>
  </body>
</html>
