<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
      <h1> Show Destination</h1>

       Destination: <%= destination.city%>, <%= destination.country%> <br/>
       <div class="">
       <img src="#" alt="">
        </div>
       Description: <%= destination.description%>

       <a href="/destinations/<%=id%>/edit">Edit Post</a>

       <form class="" action="/destinations/<%=id%>?_method=DELETE" method="POST">
          <input type="submit" name="" value="DELETE POST">
       </form>
  </body>
</html>
